@-webkit-keyframes changeColor {
  0% {
    color: black;
  }
  25% {
    color: red;
  }
  50% {
    color: green;
    font-size: 1.3em;
  }
  75% {
    color: purple;
    font-size: 0.7em;
  }
  100% {
    color: black;
    font-size: 1em;
  }
}

@keyframes changeColor {
  0% {
    color: black;
  }
  25% {
    color: red;
  }
  50% {
    color: green;
    font-size: 1.3em;
  }
  75% {
    color: purple;
    font-size: 0.7em;
  }
  100% {
    color: black;
    font-size: 1em;
  }
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

#grid-container {
  display: -ms-grid;
  display: grid;
}

#grid-container #header {
  display: -ms-grid;
  display: grid;
  min-height: 10vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grid-container #content {
  display: -ms-grid;
  display: grid;
  min-height: 85vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF0000;
}

#grid-container #content h3 {
  color: purple;
  font-size: 30px;
}

#grid-container #content #pizza-image:hover {
  border-radius: 40px;
  -webkit-transition: border-radius 0.5s ease-in-out;
  transition: border-radius 0.5s ease-in-out;
}

#grid-container #content #pizza-image:active {
  -webkit-box-shadow: 5px 5px 7px grey;
          box-shadow: 5px 5px 7px grey;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

#grid-container #footer {
  display: -ms-grid;
  display: grid;
  min-height: 10vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#watch-header {
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@media only screen and (min-width: 600px) {
  #footer {
    background-color: red;
  }
}

@media only screen and (min-width: 1020px) {
  #grid-container {
    display: -ms-grid;
    display: grid;
  }
  #header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 5fr 1fr 1fr 1fr;
        grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
    min-height: 10vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    min-height: 85vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    min-height: 10vh;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: green;
  }
  #pizza-image:hover {
    border-radius: 40px;
    -webkit-transition: border-radius 0.5s ease-in-out;
    transition: border-radius 0.5s ease-in-out;
  }
  #pizza-image:active {
    -webkit-box-shadow: 5px 5px 7px grey;
            box-shadow: 5px 5px 7px grey;
    -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
    transition: -webkit-box-shadow 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  }
  #watch-header {
    -webkit-animation-name: changeColor;
            animation-name: changeColor;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
}
/*# sourceMappingURL=style.css.map */