* {
    margin: 0;
    padding: 0;
}

#grid-container {
    display: grid;
}

#header {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
    min-height: 10vh;
    justify-items: center;
    align-items: center;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 85vh;
    justify-items: center;
    align-items: center;
}

#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 10vh;
    justify-items: center;
    align-items: center;
}